@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --border: 240 10% 12%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
